body {
  font-family: Ariel, Arial, Helvetica, sans-serif;
  margin: 3px;
  background-color: rgb(215, 243, 252);
}

header {
  text-align: center;
  background-color: lightgreen;
  /*background-image: url:("images/OrangeBloss_wb.jpg");*/
  font-size: 4rem
  border: solid;
  border-style: outset;
  border-width: 10px;
  border-radius: 10px;

  /*position:-webkit-sticky;*/
  position:sticky;
  top: 0;

}

#navbar ul{
  margin: 5px;
  padding: 10px;
  list-style-type: none;
  text-align: center;
  background-color: greenyellow;
  border-radius: 5px;
}

#navbar ul li{
  display:inline;

}*/

/* Trying to add a transparent image to header
.img-header{
  width: 719px;
  height: 200px;
  background-image: url(images/OrangeBloss_wb.jpg);
  background-size: 100%;
  opacity: .3;
}*/

nav {
  display: inline-block;
}


.img-industry{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 30%;
  height: auto;

}
.img-botany{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 30%;
  height: 30%;
 
 }

 .img-orange{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: auto;
 
 }

 .img-lime{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 30%;
  height: auto;
 
 }
 .img-lemon{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 30%;
  height: auto;
 
 }

 .container-gen-info{
   display:flex;
  flex-direction: row;

 }

.item-botany{
    width: auto;
    border: 2px solid green;
    padding: 10px;
    margin: 10px;

}

.item-industry{
    width: auto;
    border: 2px solid green;
    padding: 10x;
    margin: 10px;
}

.container-varieties{
  display:flex;
  flex-direction: column;
  position:sticky;
  top: 16em;
}

h2.varieties{
  width: auto;
  border:12px, lime;

}
/*.parent {
  display: flex;
  justify-content: space-between;
}

.child {
  flex-grow: 1;
  flex-basis: 0;
}*/

.flexbox-item-orange{
  width: auto;
  border: 1px solid rgb(87, 57, 2);
  padding: 20px;
  margin: 20px;

}

.flexbox-item-lime{
  width: auto;
  border: 1px solid rgb(87, 57, 2);
  padding: 20px;
  margin: 20px;
}

.flexbox-item-lemon{

  width: auto;
  border: 1px solid rgb(87, 57, 2);
  padding: 20px;
  margin: 20px;
}

.flexbox-item-grapefruit{
  width: auto;
  border: 1px solid rgb(87, 57, 2);
  padding: 20px;
  margin: 20px; 
}

.flexbox-item-tangelo{
  width: auto;
  border: 1px solid rgb(87, 57, 2);
  padding: 20px;
  margin: 20px;
}  



  .botany {
    border-style: solid;
    border-width: 2px;
    margin: .5rem;
    padding: 10px;
    /*background-color: tomato;*/
  }

 .industry {
    border-style: solid;
    border-width: 2px;
    margin: .5rem;
    padding: 10px;
  }*/

  .varieties {
    position: sticky;
    top: 50%;

  }

  /*.dichotomous{
      padding:80px;
      text-align: center;
      background: orange;
      color: white;
  }*/

  footer{
    padding: 20px;
  } 

@media (min-width: 720px){
  header{
    padding: 5em;
    border-top: 50px; 
    background-color: orange;
  }
  h1{
    font-size: 4rem;
  }
  .container-gen-info{
    flex-direction:column;
  }
  .container-varieties{

  }
  #navbar ul{
    text-align:right;
  }
}


@media (min-width: 1080px){
  header{
    padding: 5em;
    background-color: indigo;
  }
  h1{
    font-size: 3rem;
  }
  .container-gen-info{
      flex-direction:column;
      align-items: start;
  }
  .container-varieties{
    text-align: left;
  }
  
}*/

