body {
  font-family: Ariel, Arial, Helvetica, sans-serif;
  margin: 3px;
  background-color: rgb(207, 241, 252);
}

header {
  text-align: center;
  background-color: rgb(250, 197, 99);
  border: solid;
  border-style: outset;
  border-width: 10px;
  border-radius: 10px;
}

#navbar ul{
  margin: 5px;
  padding: 10px;
  list-style-type: none;
  text-align: center;
  background-color: rgb(101, 141, 40);
  color: rgb(0, 58, 0);
  border-radius: 5px;
}

#navbar ul li{
  display:inline;
}


/* ==============================
  Image styling
  ===============================*/

.img-industry{
  width: 130%;
   height: 100px;
   object-fit: contain;
}

.img-botany{
  width: 130%;
  height: 100px;
  object-fit: contain;
 
}

 .img-orange{
   width: 135%;
   height: 120px;
   object-fit: contain;
  
 }

 .img-lime{
  width: 135%;
  height: 100px;
  object-fit: contain;
  
 }

 .img-lemon{
  width: 135%;
  height: 100px;
  object-fit: contain;
  
 }

 .img-grapefruit{
  width: 135%;
  height: 100px;
  object-fit: contain;
  
 }

 .img-hybrids{
  width: 135%;
  height: 100px;
  object-fit: contain;
  
 }


 .img-tangelo{
  width: 135%;
  height: 100px;
  object-fit: contain;
  
 }


/* =============================
  Flexbox containers
================================*/

 .container-gen-info{
   display:flex;
   flex-direction: row;
 }

.item-botany{
    width: auto;
    border: 2px solid green;
    padding: 10px;
    margin: 10px;
}

.item-industry{
    border: 2px solid green;
    padding: 10px;
    margin: 10px;
}

.container-varieties{
  display:flex;
  flex-direction: column;
 
}


.flexbox-item-orange{
  border: 1px solid rgb(177, 115, 1);
  padding: 20px;
  margin: 20px;

}

.flexbox-item-lime{
  width: auto;
  border: 1px solid rgb(177, 115, 1);
  padding: 20px;
  margin: 20px;
}

.flexbox-item-lemon{
  width: auto;
  border: 1px solid rgb(177, 115, 1);
  padding: 20px;
  margin: 20px;
}

.flexbox-item-grapefruit{
  width: auto;
  border: 1px solid rgb(177, 115, 1);
  padding: 20px;
  margin: 20px; 
}

.flexbox-item-tangelo{
  width: auto;
  border: 1px solid rgb(177, 115, 1);
  padding: 20px;
  margin: 20px;
}  

.flexbox-item-hybrids{
  width: auto;
  border: 1px solid rgb(177, 115, 1);
  padding: 20px;
  margin: 20px;
} 


.botany {
  border-style: solid;
  border-width: 2px;
  margin: .5rem;
  padding: 10px;
}

.industry {
  border-style: solid;
  border-width: 2px;
  margin: .5rem;
  padding: 10px;
  }

.contactForm{
  width: auto;
  padding: 10px;
  border: 3px solid green;
  margin: 10px 10px 10px 10px;
  }
  

 /*===================================
    Media query for tablet
  =====================================*/

@media (min-width: 720px){
  header{
    position:sticky;
    top: 0;
  }

  h1{
    font-size: 4rem;
    padding: 5px;
  }

  .img-industry{
    width: 100%;
     height: 150px;
     object-fit: contain;
  }
  
  .img-botany{
    width: 125%;
    height: 150px;
    object-fit: contain;
   }

  .container-gen-info{
    flex-direction: column;
  }

  .container-varieties{
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  .flexbox-item-orange{
   width: 40%; 
  }

  .flexbox-item-lime{
    width: 40%
  }

  .flexbox-item-lemon{
    width: 40%;
  }

  .flexbox-item-grapefruit{
    width: 40%;
  }

  .flexbox-item-tangelo{
    width: 40%;
  }


  .flexbox-item-hybrids{
    width: 40%;
  }

  #navbar ul{
    text-align:right;
  }


.contactForm{
  width: auto;
  justify-self: normal;
  padding: 10px;
  border: 3px solid darkgreen;
  margin: 10px 10px 10px 100px;
}
}
/*===========================================
  Media query for desktop
===========================================*/

@media (min-width: 1080px){

  .img-industry{
    width: 100%;
     height: 200px;
     object-fit: contain;
  }
  
  .img-botany{
    width: 125%;
    height: 200px;
    object-fit: contain;
   }

  .container-gen-info{
      flex-direction: row;
      align-items: start;
      box-sizing: border-box;
  }

  .container-varieties{
    flex-direction: row;
    box-sizing: border-box;
    
  }

  .img-orange{
    width: 135%;
    height: 200px;
    object-fit: contain;
  }

  .img-lemon{
    width: 110%;
    height: 200px;
    object-fit: contain;
  }

  .img-lime{
    width: 135%;
    height: 200px;
    object-fit: contain;
  }

  .img-grapefruit{
    width: 110%;
    height: 200px;
    object-fit: contain;
  }

  .img-tangelo{
    width: 120%;
    height: 200px;
    object-fit: contain;
  }

  .img-hybrids{
    width: 135%;
    height: 200px;
    object-fit: contain;
  }
  
  .flexbox-item-orange{
    flex-grow: 1;
    width: 33.33%;
  }

  .flexbox-item-lemon{
    flex-grow: 1;
    width: 33.33%;
  }

  .flexbox-item-lime{
    flex-grow: 1;
    width: 33.33%;
  }

  .flexbox-item-grapefruit{
    flex-grow: 1;
    width: 33.33%;
  }

  .flexbox-item-tangelo{
    flex-grow: 1;
    width: 33.33%;
  }

  .flexbox-item-hybrids{
    flex-grow: 1;
    width: 33.33%;
  }

}