body {
  font-family: Ariel, Arial, Helvetica, sans-serif;
  margin: 3px;
  background-color: rgb(215, 243, 252);
}

header {
  text-align: center;
  background-color: lightgreen;
  /*background-image: url:("images/OrangeBloss_wb.jpg");*/
  font-size: 4rem
  border: solid;
  border-style: outset;
  border-width: 10px;
  border-radius: 20px;

  /*position:-webkit-sticky;*/
  position:sticky;
  top: 0;

}

/*.img-header{
  width: 719px;
  height: 200px;
  background-image: url(images/OrangeBloss_wb.jpg);
  background-size: 100%;
  opacity: .3;
}*/

nav {
  display: inline-block;
}


.img-industry{
 width: 30%;
 height: auto;

}
.img-botany{
  width: 30%;
  height: 30%;
 
 }

 .img-orange{
  width: 30%;
  height: auto;
 
 }

 .img-lime{
  width: 30%;
  height: auto;
 
 }
 .img-lemon{
  width: 30%;
  height: auto;
 
 }

 .container-gen-info{
   display:flex;


 }

.item-botany{
    width: auto;
    border: 2px solid green;
    padding: 10px;
    margin: 10px;

}

.item-industry{
    width: auto;
    border: 2px solid green;
    padding: 10x;
    margin: 10px;
}

.container-varieties{
  display:flex;
  flex-direction: column;
  position:sticky;
  top: 16em;
}
/*.parent {
  display: flex;
  justify-content: space-between;
}

.child {
  flex-grow: 1;
  flex-basis: 0;
}*/

.flexbox-item-orange{
  width: auto;
  border: 1px solid rgb(87, 57, 2);
  padding: 20px;
  margin: 20px;

}

.flexbox-item-lime{
  width: auto;
  border: 1px solid rgb(87, 57, 2);
  padding: 20px;
  margin: 20px;
}

.flexbox-item-lemon{

  width: auto;
  border: 1px solid rgb(87, 57, 2);
  padding: 20px;
  margin: 20px;
}

.flexbox-item-grapefruit{
  width: auto;
  border: 1px solid rgb(87, 57, 2);
  padding: 20px;
  margin: 20px; 
}

.flexbox-item-tangelo{
  width: auto;
  border: 1px solid rgb(87, 57, 2);
  padding: 20px;
  margin: 20px;
}  



  .botany {
    border-style: solid;
    border-width: 2px;
    margin: .5rem;
    padding: 10px;
    /*background-color: tomato;*/
  }

 .industry {
    border-style: solid;
    border-width: 2px;
    margin: .5rem;
    padding: 10px;
  }*/

  .varieties {
    position: sticky;
    top: 20px;

  }
  .dichotomous{
      padding:80px;
      text-align: center;
      background: orange;
      color: white;
  }

   

@media (min-width: 720px){
  header{
    padding: 5em;
  }
  h1{
    font-size: 3rem;
  }
    .container-gen-info{
      flex-direction:row;

  }
}


@media (min-width: 1080px){
  header{
    padding: 5em;
  }
  h1{
    font-size: 3rem;
  }
    .container-gen-info{
      flex-direction:column;
      align-items: start;

  }
}*/

