body {
  font-family: Ariel, Arial, Helvetica, sans-serif;
  margin: 3px;
  background-color: rgb(215, 243, 252);
}

header {
  text-align: center;
  background-color: lightgreen;
  /*font-size: 2rem;*/
  border: solid;
  border-style: outset;
  border-width: 10px;
  border-radius: 10px;
}

#navbar ul{
  margin: 5px;
  padding: 10px;
  list-style-type: none;
  text-align: center;
  background-color: greenyellow;
  border-radius: 5px;
}

#navbar ul li{
  display:inline;

}

.img-industry{
  width: 100%;
   height: 100px;
   object-fit: contain;
  /*
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 30%; */
}

.img-botany{
  width: 125%;
  height: 100px;
  object-fit: contain;
 /* max-width: 25%;
  height: auto;
  /*display: block;
  margin-left: auto;
  margin-right: auto;
 
  height: 30%;*/
 }

 .img-orange{
   width: 135%;
   height: 120px;
   object-fit: contain;
  /*display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: auto;*/
 }

 .img-lime{
  width: 135%;
  height: 100px;
  object-fit: contain;
  /*display: inline;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 30%;
  height: auto;*/
 }

 .img-lemon{
  width: 135%;
  height: 100px;
  object-fit: contain;
  /*display: inline;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 30%;
  height: auto;*/
 }

 .img-grapefruit{
  width: 135%;
  height: 100px;
  object-fit: contain;
  /*display: inline;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 30%;
  height: auto;*/
 }



 .container-gen-info{
   display:flex;
   flex-direction: row;
 }

.item-botany{
    width: auto;
    border: 2px solid green;
    padding: 10px;
    margin: 10px;
}

.item-industry{
    /*width: auto;*/
    border: 2px solid green;
    padding: 10x;
    margin: 10px;
}

.container-varieties{
  position:sticky;
  top: 0em;
  display:flex;
  flex-direction: column;
 
}

h2.varieties{
  width: auto;
  border:12px, lime;
}

.flexbox-item-orange{
  /*width: auto;*/
  flex: 1;
  border: 1px solid rgb(87, 57, 2);
  padding: 20px;
  margin: 20px;

}

.flexbox-item-lime{
  width: auto;
  border: 1px solid rgb(87, 57, 2);
  padding: 20px;
  margin: 20px;
}

.flexbox-item-lemon{

  width: auto;
  border: 1px solid rgb(87, 57, 2);
  padding: 20px;
  margin: 20px;
}

.flexbox-item-grapefruit{
  width: auto;
  border: 1px solid rgb(87, 57, 2);
  padding: 20px;
  margin: 20px; 
}

.flexbox-item-tangelo{
  width: auto;
  border: 1px solid rgb(87, 57, 2);
  padding: 20px;
  margin: 20px;
}  

.flexbox-item-hybrids{
  width: auto;
  border: 1px solid rgb(87, 57, 2);
  padding: 20px;
  margin: 20px;
} 


  .botany {
    border-style: solid;
    border-width: 2px;
    margin: .5rem;
    padding: 10px;
    /*background-color: tomato;*/
  }

 .industry {
    border-style: solid;
    border-width: 2px;
    margin: .5rem;
    padding: 10px;
  }

 /* .varieties {
    position: sticky;
    top: 50%;

  }*/


  footer{
    padding: 20px;
  } 

@media (min-width: 720px){
  header{
    padding: 5em;
    border-top: 50px; 
    background-color: orange;
    position:sticky;
    top: 0;
  }

  h1{
    font-size: 4rem;
  }

  .container-gen-info{
    flex-direction: column;
  }

  .container-varieties{
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  .flexbox-item-orange{
   /* order: 1;*/
   width: 40%; 
  }

  .flexbox-item-lime{
    /*order: 2;*/
    width: 40%
  }

  .flexbox-item-lemon{
    /*order: 3;*/
  width: 40%;
  }

  .flexbox-item-grapefruit{
      /*order: 4;*/
    width:40%;
  }

  .flexbox-item-tangelo{
    /*order: 5;*/
    width:40%;
  }

  /*#navbar ul{
    text-align:right;
  }*/

  .flexbox-item-hybrids{
    /*order: 6*/
    width: 40%;
  }

.contactForm{
  width: 300px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -100px;
  padding: 10px;
  border: 15px solid red;
  margin: 10px 10px 10px 100px;
}


@media (min-width: 1080px){
  header{
    /*font-size: 3rem;*/
    padding: 5em;
    background-color: indigo;
   
  }

  h1{
    font-size: 3rem;
  }

  .container-gen-info{
      flex-direction:column;
      align-items: start;
  }

  .container-varieties {
    flex-direction: row;
  }

  .img-orange{
    width: 135%;
    height: 200px;
    object-fit: contain;
   /*display: block;
   margin-left: auto;
   margin-right: auto;
   width: 30%;
   height: auto;*/
  }
 /* .flexbox-item-orange{
    /*width: auto;
    flex: 1;
    border: 1px solid rgb(87, 57, 2);
    padding: 20px;
    margin: 20px;
  
  }*/